Repository elastic/fleet-server, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elastic/elastic-agent-control-plane, @elastic/observablt-ci, @elastic/ingest-docs

add the new ci checks (#5398)
  .github/workflows/docs-build.yml
  .github/workflows/docs-cleanup.yml
Owners: @elastic/observablt-ci

add the new ci checks (#5398)
  .github/workflows/docs-build.yml
  .github/workflows/docs-cleanup.yml
Owners: @elastic/observablt-ci

Update changelog for 9.0.7 (#5509)
  changelog/9.0.7.yaml
  changelog/9.0.7/breaking.md
  changelog/9.0.7/deprecations.md
  changelog/9.0.7/index.md
  changelog/fragments/1755810145-Reset-trace-headers-on-bulk-items-when-returning-to-pool.yaml
  changelog/fragments/1756409821-Restore-connection-limiter.yaml
  changelog/fragments/1756940128-fix-binary-compilation.yaml
Owners: @elastic/elastic-agent-control-plane

remove references to 9.1.x
  changelog/9.1.0.yaml
  changelog/9.1.1.yaml
  changelog/9.1.2.yaml
  changelog/9.1.3.yaml
  docs/release-notes/_snippets/9.1.0/breaking.md
  docs/release-notes/_snippets/9.1.0/deprecations.md
  docs/release-notes/_snippets/9.1.0/index.md
  docs/release-notes/_snippets/9.1.1/breaking.md
  docs/release-notes/_snippets/9.1.1/deprecations.md
  docs/release-notes/_snippets/9.1.1/index.md
  docs/release-notes/_snippets/9.1.2/breaking.md
  docs/release-notes/_snippets/9.1.2/deprecations.md
  docs/release-notes/_snippets/9.1.2/index.md
  docs/release-notes/_snippets/9.1.3/breaking.md
  docs/release-notes/_snippets/9.1.3/deprecations.md
  docs/release-notes/_snippets/9.1.3/index.md
  docs/release-notes/_snippets/breaking-changes.md
  docs/release-notes/_snippets/deprecations.md
  docs/release-notes/_snippets/index.md
Owners: @elastic/elastic-agent-control-plane, @elastic/ingest-docs

Handle when agent checks in with revision idx that is too high
  internal/pkg/api/handleCheckin.go
  internal/pkg/api/handleCheckin_test.go
  internal/pkg/api/handleStatus_test.go
  internal/pkg/policy/monitor.go
  internal/pkg/policy/monitor_test.go
  testing/e2e/api_version/client_api_current.go
  testing/e2e/scaffold/scaffold.go
Owners: @elastic/elastic-agent-control-plane

relocate
  changelog/9.1.4/breaking.md
  changelog/9.1.4/deprecations.md
  docs/release-notes/_snippets/9.1.4/breaking.md
  docs/release-notes/_snippets/9.1.4/deprecations.md
  docs/release-notes/_snippets/9.1.4/index.md
  docs/release-notes/_snippets/breaking-changes.md
  docs/release-notes/_snippets/deprecations.md
  docs/release-notes/_snippets/index.md
Owners: @elastic/elastic-agent-control-plane, @elastic/ingest-docs

Update changelog for 9.0.7 (#5509)
  changelog/9.0.7.yaml
  changelog/9.0.7/breaking.md
  changelog/9.0.7/deprecations.md
  changelog/9.0.7/index.md
  changelog/fragments/1755810145-Reset-trace-headers-on-bulk-items-when-returning-to-pool.yaml
  changelog/fragments/1756409821-Restore-connection-limiter.yaml
  changelog/fragments/1756940128-fix-binary-compilation.yaml
Owners: @elastic/elastic-agent-control-plane

Update changelog for 9.0.7 (#5509)
  changelog/9.0.7.yaml
  changelog/9.0.7/breaking.md
  changelog/9.0.7/deprecations.md
  changelog/9.0.7/index.md
  changelog/fragments/1755810145-Reset-trace-headers-on-bulk-items-when-returning-to-pool.yaml
  changelog/fragments/1756409821-Restore-connection-limiter.yaml
  changelog/fragments/1756940128-fix-binary-compilation.yaml
Owners: @elastic/elastic-agent-control-plane

relocate
  changelog/9.0.7/breaking.md
  changelog/9.0.7/deprecations.md
  docs/release-notes/_snippets/9.0.7/breaking.md
  docs/release-notes/_snippets/9.0.7/deprecations.md
  docs/release-notes/_snippets/9.0.7/index.md
  docs/release-notes/_snippets/breaking-changes.md
  docs/release-notes/_snippets/deprecations.md
  docs/release-notes/_snippets/index.md
Owners: @elastic/elastic-agent-control-plane, @elastic/ingest-docs

relocate
  changelog/9.0.7/breaking.md
  changelog/9.0.7/deprecations.md
  docs/release-notes/_snippets/9.0.7/breaking.md
  docs/release-notes/_snippets/9.0.7/deprecations.md
  docs/release-notes/_snippets/9.0.7/index.md
  docs/release-notes/_snippets/breaking-changes.md
  docs/release-notes/_snippets/deprecations.md
  docs/release-notes/_snippets/index.md
Owners: @elastic/elastic-agent-control-plane, @elastic/ingest-docs

Changelog for 8.18.7 (#5507)
  changelog/8.18.7.yaml
  changelog/8.18.7/breaking.md
  changelog/8.18.7/deprecations.md
  changelog/8.18.7/index.md
  changelog/fragments/1756409821-Restore-connection-limiter.yaml
  changelog/fragments/1756940128-fix-binary-compilation.yaml
Owners: @elastic/elastic-agent-control-plane

Add a feature toggle
  changelog/fragments/1757633911-Add-agent_policy_id-and-policy_revision_idx-to-checkin-requests.yaml
  fleet-server.reference.yml
  internal/pkg/api/handleCheckin.go
  internal/pkg/api/handleCheckin_test.go
  internal/pkg/config/input.go
Owners: @elastic/elastic-agent-control-plane

Update exporter ids
  internal/pkg/server/fleet_integration_test.go
Owners: @elastic/elastic-agent-control-plane

.github/CODEOWNERS:

# Team responsible for Fleet Server
* @elastic/elastic-agent-control-plane

# Allow to auto-merge PRs with Mergify
dev-tools/integration/.env
<<<<<<< HEAD
=======

/.github/workflows @elastic/observablt-ci
/docs/release-notes @elastic/ingest-docs
/docs/docset.yml @elastic/ingest-docs
>>>>>>> 461aa39 (add ingest-docs team as CODEOWNERS for release notes and docset.yml (#5492))
