Repository elastic/fleet-server, pull requests merged in 2025-08, with the labels that each got.

#5215 Changelog for 9.1.1
  changelog/9.1.1.asciidoc
  changelog/9.1.1.yaml
  changelog/fragments/1753372819-Fix-download_rate-as-string-handling.yaml
Labels: docs, release, skip-changelog

#5229 Changelog for 8.18.5
  changelog/8.18.5.asciidoc
  changelog/8.18.5.yaml
  changelog/fragments/1753372819-Fix-download_rate-as-string-handling.yaml
Labels: docs, release, skip-changelog

#5228 Changelog for 9.0.5
  changelog/9.0.5.asciidoc
  changelog/9.0.5.yaml
  changelog/fragments/1753372819-Fix-download_rate-as-string-handling.yaml
Labels: docs, release, skip-changelog

#5230 Changelog for 8.17.10
  changelog/8.17.10.asciidoc
  changelog/8.17.10.yaml
  changelog/fragments/1753372819-Fix-download_rate-as-string-handling.yaml
Labels: docs, release, skip-changelog

#5246 Use ELASTICSEARCH_VERSION instead of fleet-server's version when downloading agent
  testing/e2e/agent_install_test.go
Labels: flaky-test, Team:Elastic-Agent-Control-Plane, backport-active-all

#5252 Use integration/.env ELASTICSEARCH_VERSION as stack version for cloude2e
  dev-tools/cloud/terraform/main.tf
  dev-tools/cloud/terraform/outputs.tf
Labels: flaky-test, Team:Elastic-Agent-Control-Plane, backport-active-all

#5245 Redirect FIPS cloud e2e tests to FRH-Staging
  .buildkite/hooks/pre-command
  .buildkite/pipeline.yml
  dev-tools/cloud/terraform/main.tf
Labels: Team:Elastic-Agent-Control-Plane, tech debt, backport-8.19, backport-9.1

#5317 Reset trace headers for bulk items when returning to pool
  changelog/fragments/1755810145-Reset-trace-headers-on-bulk-items-when-returning-to-pool.yaml
  internal/pkg/bulk/block.go
Labels: bug, Team:Elastic-Agent-Control-Plane, backport-active-all

#5341 Changelog 9.0.6
  changelog/9.0.6.asciidoc
  changelog/9.0.6.yaml
  changelog/fragments/1754931919-Fix-503-handling-in-enrollment.yaml
  changelog/fragments/1755644662-Remove-extra-ES-search-when-preparing-agent-policy.yaml
Labels: docs, release, skip-changelog

#5342 Changelog 9.1.3
  changelog/9.1.3.asciidoc
  changelog/9.1.3.yaml
  changelog/fragments/1754931919-Fix-503-handling-in-enrollment.yaml
  changelog/fragments/1755644662-Remove-extra-ES-search-when-preparing-agent-policy.yaml
Labels: docs, release, skip-changelog

#5355 Changelog for 8.18.6
  changelog/8.18.6.asciidoc
  changelog/8.18.6.yaml
  changelog/fragments/1754931919-Fix-503-handling-in-enrollment.yaml
  changelog/fragments/1755644662-Remove-extra-ES-search-when-preparing-agent-policy.yaml
  changelog/fragments/1755810145-Reset-trace-headers-on-bulk-items-when-returning-to-pool.yaml
Labels: docs, release, skip-changelog

#5372 Restore connection-level limiter
  NOTICE-fips.txt
  NOTICE.txt
  changelog/fragments/1756409821-Restore-connection-limiter.yaml
  go.mod
  internal/pkg/api/server.go
  internal/pkg/limit/listener.go
  internal/pkg/limit/listener_test.go
Labels: bug, Team:Elastic-Agent-Control-Plane, backport-active-all
