Repository elastic/fleet-server, pull requests merged in 2025-09, with the labels that each got.

#5396 Fix configFromUnit test, add logging for e2e tests
  internal/pkg/server/agent.go
  internal/pkg/server/agent_test.go
  internal/pkg/ver/check.go
  testing/e2e/scaffold/scaffold.go
Labels: flaky-test, Team:Elastic-Agent-Control-Plane, backport-active-all

#5398 [docs] Add the new docs CI checks
  .github/workflows/docs-build.yml
  .github/workflows/docs-cleanup.yml
Labels: documentation, docs, Team:Docs, backport-skip, ci, skip-changelog

#5406 catalog-info: allow build CI jobs for observablt-ci-contractors
  catalog-info.yaml
Labels: backport-skip, skip-changelog

#5422 [docs] Add stub page for Markdown release notes
  docs/docset.yml
  docs/release-notes/index.md
  docs/release-notes/toc.yml
Labels: documentation, docs, Team:Docs, backport-skip, skip-changelog

#5455 fix: switch Dockerfile of serverless image to debian trixie
  Dockerfile
  magefile.go
Labels: Team:Elastic-Agent-Control-Plane, backport-active-all, skip-changelog

#5374 [docs] Add Markdown release notes
  changelog/9.0.1.yaml
  changelog/9.0.2.yaml
  changelog/9.0.3.yaml
  changelog/9.0.4.yaml
  changelog/9.0.5.yaml
  changelog/9.0.6.yaml
  changelog/9.1.0.yaml
  changelog/9.1.1.yaml
  changelog/9.1.2.yaml
  changelog/9.1.3.yaml
  config.changelog.yaml
  docs/docset.yml
  docs/release-notes/_snippets/9.0.0/breaking.md
  docs/release-notes/_snippets/9.0.0/deprecations.md
  docs/release-notes/_snippets/9.0.0/index.md
  docs/release-notes/_snippets/9.0.1/breaking.md
  docs/release-notes/_snippets/9.0.1/deprecations.md
  docs/release-notes/_snippets/9.0.1/index.md
  docs/release-notes/_snippets/9.0.2/breaking.md
  docs/release-notes/_snippets/9.0.2/deprecations.md
  docs/release-notes/_snippets/9.0.2/index.md
  docs/release-notes/_snippets/9.0.3/breaking.md
  docs/release-notes/_snippets/9.0.3/deprecations.md
  docs/release-notes/_snippets/9.0.3/index.md
  docs/release-notes/_snippets/9.0.4/breaking.md
  docs/release-notes/_snippets/9.0.4/deprecations.md
  docs/release-notes/_snippets/9.0.4/index.md
  docs/release-notes/_snippets/9.0.5/breaking.md
  docs/release-notes/_snippets/9.0.5/deprecations.md
  docs/release-notes/_snippets/9.0.5/index.md
  docs/release-notes/_snippets/9.0.6/breaking.md
  docs/release-notes/_snippets/9.0.6/deprecations.md
  docs/release-notes/_snippets/9.0.6/index.md
  docs/release-notes/_snippets/9.1.0/breaking.md
  docs/release-notes/_snippets/9.1.0/deprecations.md
  docs/release-notes/_snippets/9.1.0/index.md
  docs/release-notes/_snippets/9.1.1/breaking.md
  docs/release-notes/_snippets/9.1.1/deprecations.md
  docs/release-notes/_snippets/9.1.1/index.md
  docs/release-notes/_snippets/9.1.2/breaking.md
  docs/release-notes/_snippets/9.1.2/deprecations.md
  docs/release-notes/_snippets/9.1.2/index.md
  docs/release-notes/_snippets/9.1.3/breaking.md
  docs/release-notes/_snippets/9.1.3/deprecations.md
  docs/release-notes/_snippets/9.1.3/index.md
  docs/release-notes/_snippets/breaking-changes.md
  docs/release-notes/_snippets/deprecations.md
  docs/release-notes/_snippets/index.md
  docs/release-notes/breaking-changes.md
  docs/release-notes/deprecations.md
  docs/release-notes/index.md
  docs/release-notes/known-issues.md
  docs/release-notes/toc.yml
Labels: documentation, docs, Team:Docs, skip-changelog

#5509 Update changelog for 9.0.7
  changelog/9.0.7.yaml
  changelog/9.0.7/breaking.md
  changelog/9.0.7/deprecations.md
  changelog/9.0.7/index.md
  changelog/fragments/1755810145-Reset-trace-headers-on-bulk-items-when-returning-to-pool.yaml
  changelog/fragments/1756409821-Restore-connection-limiter.yaml
  changelog/fragments/1756940128-fix-binary-compilation.yaml
Labels: docs, release, skip-changelog

#5550 Use imagePrefix
  .buildkite/pipeline.yml
Labels: ci, backport-8.19, skip-changelog, backport-9.1

#5534 Add mage target and buildkite step to flag crypto imports for FIPS builds
  .buildkite/pipeline.yml
  .buildkite/scripts/check_detect_fips_crypto.sh
  magefile.go
Labels: Team:Elastic-Agent-Control-Plane, ci, backport-8.19, skip-changelog, backport-9.1

#5515 Add a known-issues entry for missing attributes
  docs/release-notes/known-issues.md
Labels: docs, Team:Elastic-Agent-Control-Plane, backport-9.0, skip-changelog, backport-9.1
